{
  "extends": [ "standard", "standard-react" ],
  "plugins": [
    "react",
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1,
    "react/jsx-no-bind": 1,
 
    "react/prop-types": 1,
 
    "comma-dangle": [2, "always-multiline"],
    "no-var": [2],
 
    "no-warning-comments": 1,
 
    "no-alert": [1],
    "no-console": [1],
    "no-debugger": [1]
  },
  "globals": {
    "alert": false,
    "Debug": true
  }
}