@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Cond Light'), local('OpenSans-CondensedLight'), url(https://fonts.gstatic.com/s/opensanscondensed/v10/gk5FxslNkTTHtojXrkp-xMmDra0ONnO3FPH--kzkC5zr7w4p9aSvGirXi6XmeXNA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

//$bg-color-light: #293841;
$bg-color-light: #364D5A;
$bg-color-dark:  #161D24;

* { 
  outline-color: #D4FF00;
  outline-width: 8px;
  /* transition: all .2s ease-in-out; */
}

html,
body {
  height: 100%;
  cursor: none;
  overflow: hidden;
  margin: 0;
}

body {
  background: linear-gradient(45deg, $bg-color-dark, $bg-color-light);
  color: #eee;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  z-index: 0;
}

#app {
  height: 100%;
  padding-top: 40px;
}

@keyframes pulse {
  from {
    background: rgba(0,0,0,.95);
  }
  to {
    background: rgba(0,0,0,.8);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -100;
  background: transparent;
  transition: all 1s ease-in-out;

  &.overlay__show {
    opacity: 1;
    z-index: 999;
    background: rgba(0,0,0,.95);
    animation: pulse 3s infinite ease-in-out alternate;
    animation-delay: 1s;
  }
}
